body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: "Arial";
	color: #666565;
	background-color: #EAEAEA;
}
.container {
	width: 50%;
	margin: auto;
	padding: 50px;
}
a, img, input, textarea, button, select {
	outline: 0;
}
a {
	text-decoration: none;
	font-size: 15px;
}
a:hover {
	text-decoration: underline;
}
form {
	background-color: #fff;
    box-shadow: 5px 5px 9px 5px #CCC;
    -webkit-box-shadow: 5px 5px 9px 5px #CCC;
    -moz-box-shadow: 5px 5px 9px 5px #CCC;
    padding: 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}	
input[type="text"], input[type="file"], textarea {
	width: 95%;
	padding: 10px;
	border: 1px solid #4CBAA9;
	font-family: inherit;
    font-size: 14px;
}
input:focus, textarea:focus {
	border: 1px solid #4CBAA9;
}
.required {
    float: left;
    width: 30%;
    font-size: 14px;
    line-height: 38px;
}
.form-input {
	float: left;
	width: 70%;
}
label.required:after {
  	content: '*';
  	color: #009473;
}
input[type="radio"] {
	margin-left: 0;
    margin-right: 4px;
    width: auto;
}
input[type="checkbox"] {
	margin-left: 0;
	margin-right: 3px;
}
input[type="file"] {
	padding: 0;
	border: 0;
}
input[type="submit"] {
	background-color: #ACEFE4;
    border: 2px solid #4CBAA9;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: ease-in-out .4s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
	background-color: #25D5BA;
	color: #fff;
	border: 2px solid #4CBAA9;
}
select {
	padding: 10px 8px;
	border: 1px solid #4CBAA9;
	color: #666565;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
}
span.error {
  	color:red;
  	font-size: 12px;
}
.form-checkbox {
	float: right;
}
.radio-button {
	padding: 9px 0 0;
}
.input-file {
	padding: 6px 0;
}
.row {
  	margin: 5px 0;
  	clear: both;
  	display: inline-block;
  	width: 100%;
}